<a href="https://colab.research.google.com/github/zulfanHamka/Belajar-python/blob/main/belajarpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hallo Python")

hallo Python

In [ ]:
print("Hallo Hamka keren ")

Hallo Hamka keren

####Balajar Variabel

In [ ]:
nama = "Hamka"
umur = 22
tinggi = 170.5

print("nama:" ,nama)
print("Umur:", umur)
print("Tinggi:",tinggi)


print(nama , umur, tinggi)

print(type(tinggi))

nama: Hamka
Umur: 22
Tinggi: 170.5
Hamka 22 170.5
<class 'float'>

In [ ]:
puisi = """
ini adalah
puisi lebih dari
satu baris

"""

student = True
married = False


print(puisi)
print(type(student))

ini adalah
puisi lebih dari
satu baris


<class 'bool'>

In [ ]:
nama = "hamka"
print(nama)

nama = "ridwan"
print(nama)


print(puisi)

hamka
ridwan

ini adalah
puisi lebih dari
satu baris

####Input

In [ ]:
nama = input("Masukan nama anda:")
umur = input("Masukan umur anda:")
print("")

print("Hallo", nama)
print("umur anda:" ,umur)

Masukan nama anda:Hamka
Masukan umur anda:24

Hallo Hamka
umur anda: 24

##String dan Manifulasi String

In [ ]:
nama = "hamka"
umur = 22

#cara salah, type data tidak sama semua
#pesan = "nama saya" + nama + "umur saya" + umur

#cara benar, type data disamakan dulu
pesan = "nama saya " + nama + ", umur saya " + str(umur)
print(pesan)

nama saya hamka, umur saya 22

###len() penggunakan penghitung karakter

In [ ]:
#gaya penulisan 1
panjang_nama = len(nama)
panjang_pesan = len(pesan)

print(panjang_nama)
print(panjang_pesan)

#gaya penulisan ke 2

#print(len(nama))
#print(len(pesan))


#hasil 5 dan 29
#karena panjangan karakternya ada 5 = hamka dan 29 = nama saya hamka, umur saya 22
#dihitung dengan spacenya

5
29

String Indexing/mengambil karakter

In [ ]:
nama = "python"

#Gaya pengambilan dari kiri ke kanan
print(nama[0])
print(nama[2])

#Gaya pengambilan dari kanan ke kiri
print(nama[-1])
print(nama[-3])

p
t
n
h

###String sciling/Mengambil sebagian karakter

In [ ]:
nama = "python"

#Gaya dari kiri ke kanan
print(nama[0:3])
print(nama[:]) #mengambil seluruh

pyt
python

###String Methods (fungsi string)

fungsi string memiliki method(fungsi yang menempel pada type data) ada banyak sekali fungsi method yang bisa di gunakan, seperti

*   upper()
*   lower()
*   title()
*   find() dst

In [ ]:
#contoh
name = "Hamka"

#penggunakan upper
name_upper = nama.upper()
print(name_upper)

#penggunakan lower
name_lower = name.lower()
print(name_lower)

PYTHON
hamka

###Escape Karakter

*   \n (new line)
*   \t (tab)
* \ (backslash)
* " dan ' (kutip dalam string), perlu menambahkan slash di awal

In [ ]:
#contoh

#new line
kalimat = "Baris pertama\nBaris kedua"
print(kalimat)

print("\n")

#tab
kalimat = "Nama:\t Hamka\numur:\t 22"
print(kalimat)

print('\n')

#slash
lokasi = "c:\\User\\hamka\\destop"# Jumlah slash tergantung kebutuhan
print(lokasi)

print("\n")

#penggunakan kutip 2 "" di tengah kalimat
kalimat = "Dia berkata \"Hallo\"  kepada saya"
print(kalimat)

Baris pertama
Baris kedua


Nama:	 Hamka
umur:	 22


c:\User\hamka\destop


Dia berkata "Hallo"  kepada saya

###String Interpolation (f-string)

adalah cara menggabungkan string yang lebih modern kaya "+"

In [ ]:

nama = "hamka"
umur = 22
kota = "jakarta"

#penggunaan interpolation
kalimat = f"nama saya {nama}, umur saya{umur} dan tinggal di {kota}" #lebih simple
print(kalimat)

print("\n")

#menggunakan "+" plus
kalimat_lama = "nama saya, " + nama + " umur saya" + str(umur) + "dan tinggal di " + kota
print(kalimat_lama)

nama saya hamka, umur saya22 dan tinggal di jakarta


nama saya, hamka umur saya22dan tinggal di jakarta

### f-string dengan Expressions

In [ ]:
 harga = 10000
 jumlah = 3

#operasi matematika dalam string
 total = f"Total: Rp {harga * jumlah:,}"
 print(total)

 print("\n")

#method call dalam f-string
nama = "lukman prasetio"
kalimat = f"Hallo {nama.upper()}"
print(kalimat)


print("\n")

kalimat = f"Hallo {nama.lower()}"
print(kalimat)

Total: Rp 30,000


Hallo LUKMAN PRASETIO


Hallo lukman prasetio

#Operator

###Operator aritmatika

In [ ]:

a = 10
b = 3

#plus
print(a+b)

#minus
print(a-b)

#time
print(a*b)

#division
print(a/3)

#Pembagian bulat
print(a//b)

#modulo
print(a%b)

#pangkat
print(a**b)

13
7
30
3.3333333333333335
3
1
1000

###Operator assignment (penugasan)

####Operator assignment

In [ ]:
#Operator assignment diberikan untuk memberikan nilai variabel, sama dengan (=)
#contoh

x = 10

print("x awal:", x)

x awal: 10

####Compound assignment

In [ ]:
#Compound assignment yaitu yang menggabungkan operasi aritmatika menjadi assignment

x = 10

x += 5 #sama dengan x = x + 5
print("x setelah += 5:", x)

y = 10

y /= 2 #sama dengan y = y / 2
print("x setelah /= 2:", y)

x setelah += 5: 15
x setelah /= 2: 5.0

####Operator pebandingan

In [ ]:
#contoh int
a = 10
b = 3

print(a < b)
print(a > b)
print(a == b)
print(a <= b)
print(a >= b)
print(a != b)

print("\n")

#contoh string
nama1 = "hamka"
nama2 = "wawan"
nama3 = "hamka"

print(nama1 == nama3)
print(nama1 == nama2)
print(nama1 != nama2)

False
True
False
False
True
True


True
False
True

####Oprator logika

- adalah operator logika yang digunakan untuk mmenggabungkan atau memodifikasi nilai boolean
- and (dan), menghasilakan true. jika kondisi kedua benar
- or (atau), menghasilkan True. jika kondisi salah satu benar
not (tidak), membalikan nilai boolean

In [ ]:
#and
umur = 25
print(umur > 20 and umur < 27)

#or
hari = "sabtu"
print(hari == "sabtu" or hari != "minggu")

#not
aktif = True
print(not aktif)

True
True
False

####Operator String

- Operator khusu untuk bekarja dengan string
- concatenation (+), manambah string
- Repetition(*), mengulang string sejumlah angka
- Membership(in), mengecek apakah text ada dalam string

In [ ]:
#concatenation
nama_depan = "johan"
nama_belakang = "permana"
nama_lengkap = nama_depan + " " + nama_belakang

print(nama_lengkap)

print("\n")

#Repetition
kata ="Hallo"
print(kata *3)

garis = "-"
print(garis*15)

print("\n")

#Membership
kalimat = " apakah python adalah bahasa pemrograman"

print("python" in kalimat) #true
print("hamka" in kalimat)  #false
print("bahasa" in kalimat) #true

johan permana


HalloHalloHallo
---------------


True
False
True

####Prioritas Operator

- Operator memiliki urutan prioritas. Operator dengan prioritas lebih tinggi akan dieksekusi terlebih dahulu
- Urutan Prioritas dari tinggi ke rendah

- ** (Pangkat)
- *,/,//,% (perkalian, pembagian, dll)
- ==, !=, <, >, <=, >= (perbandingan, dll)
- not (logika not)
- and (logika and)
- or (logika)

#Perbandingan

####Perbandingan IF, IF ELSE dan ELIF

In [ ]:

#setelah if/else harus ada : (titik dua)

#if
#satu kondisi
nilai = int(input("masukan nilai: "))
if nilai > 75:
    print(f" Anda lulus dengan nilai: {nilai} ")

#if dan else
#dua kondisi
if nilai > 75:
    print(f"nilai {nilai} lebih dari KKM")
else:
    print(f"Nilai {nilai} kurang dari KKM")

#elif
#beberapa kondisi
nilai = int(input("Masukan nilai:"))

if nilai >= 85:
    print("nilai anda A")
elif nilai >= 75:
    print("nilai anda B")
elif nilai >= 65:
    print("nilai anda C")
else:
    print("nilai anda D")

Masukan nilai:30
nilai anda D

###Kondisi dengan Operator logika

In [ ]:
umur = int(input("Masukan umur:"))
punya_sim = input("Punya SIM? (ya/tidak):")

if umur >= 17 and punya_sim == "ya":
    print("Boleh mengendarai Motor")
else:
    print("Tidak Boleh mengendarai Motor")

Masukan umur:16
Punya SIM? (ya/tidak):ya
Tidak Boleh mengendarai Motor

####Nested if (IF Bersarang)

In [ ]:
username = input("username: ")
password = input("Password: ")

if username == "admin":
    if password == "12345":
        print("login berhasil")
        print("Selamat datang admin")
    else:
        print("password salah")
else:
  print("username tidak ditemukan")

username: admin
Password: 12345
login berhasil
Selamat datang admin

####Match case

-Match case adalah fitur alternatif yang lebih bersih untuk elid yang banyak

In [ ]:
hari =input("Masukan nama hari: ").lower()
#lower = inputan harus huruf kecil

match hari:
    case "senin" | "selasa" | "rabu" | "kamis" | "jumat":
        print("Hari kerja")
    case "sabtu" | "minggu":
        print("Hari libur")
    case _:
        print("Nama hari tidak valid")

Masukan nama hari: senin
Hari kerja

####Conditional Expression (Ternary Operator)

- Conditional expression memmungkinan kita menulis kondisi kondisi sederhana dalam satu baris

In [ ]:
angka = int(input("Masukan angka: "))

# Dengan if-else biasa
# if angka > 0:
#   hasil = "Positif"
# else:
#   hasil = "Non-positif"

# Dengan Ternary operator (lebih singkat)
hasil = "Positif" if angka > 0 else "Non-positif"
print("Angka tersebut:", hasil)

Masukan angka: 0
Angka tersebut: Non-positif

###Perulangan

#### For Loop

- For loop digunakan unutk mengulang kode sejumlah tertentu atau meniterasi melalui sekumpulan data
- For loop biasanya menggunakan function range() untuk membuat urutan angka untuk perulangannya

In [ ]:
# Mencetak angka 0 sampai 4
for i in range(5):
  print(i)

# Mencetak angka 1 sampai 5
# 1 = Mulai dari
# 6 = sampai dari
for i in range(1,6):
  print(i)

# Mencetak "Hallo" sebanyak 3 kali
for i in range(3):
  print("Hello")

# Menghitung Mundur
# 5 mulai
# 0 sampai
# -1 setiap perulangan dikurang -1
print("Menghitung Muncul:")
for i in range(5, 0, -1):
  print(i)

1
2
3
4
5

####For Look dengan String

- For loop juga bisa digunakan untuk mengiterasi setipa karakter dalam string

In [ ]:
 nama = "python"
 for huruf in nama:
      print(huruf)

print("\n")

kata = str(input("Masukan kata: "))
print("Huruf-Huruf dalam kata: ")
for karakter in kata:
      print("-", karakter)

p
y
t
h
o
n


Masukan kata: mancing
Huruf-Huruf dalam kata:
- m
- a
- n
- c
- i
- n
- g

#### While Loop

- While Loop mengulang kode sama kondisi tertentu masih Trus

In [ ]:
# Mencetak angka 1 sampai 5
angka = 1
while angka <= 5:
  print(angka)
  angka += 1

print("\n")

# Input sampai benar
password = ""
while password != "12345":
    password = input("Masukan password: ")
    if password != "12345":
        print("password salah, coba lagi")
    else:
        print("password berhasil")

1
2
3
4
5


Masukan password: 12345
password berhasil

#### Break and Continue

##### Break

In [ ]:
# Game tebak angka dengan break

angka_rahasia = 7

while True:
    tebakan = int(input("Tebak angka (1-10: )"))

    if tebakan == 7:
        print("Tebakan anda benar!")
        break
    else:
        print("Tebakan anda salah")

Tebak angka (1-10: )3
Tebakan anda salah
Tebak angka (1-10: )1
Tebakan anda salah
Tebak angka (1-10: )2
Tebakan anda salah
Tebak angka (1-10: )5
Tebakan anda salah
Tebak angka (1-10: )6
Tebakan anda salah
Tebak angka (1-10: )7
Tebakan anda benar!

##### Continue

In [ ]:
# Mencetak angka Ganjil saja
for i in range(10):
  if i % 2 == 0: # jika genap
      continue   # Lewati, langjut ke anka berikutnya
  print(i)       # Hanya Mencetak angka ganjil

1
3
5
7
9

####Loop dengan else

In [ ]:
# Mencari hurup dalam kata
kata = input("Masukan kata: ")
huruf_dicari = input("Masukan huruf yang dicari: ")

for huruf in kata:
    if huruf == huruf_dicari:
      print("huruf", huruf_dicari, "Ditemukan dalam kata")
      break
else:
  print("Huruf", huruf_dicari, "tidak ditemukan")

Masukan kata: baca
Masukan huruf yang dicari: c
huruf c Ditemukan dalam kata

#### While dengan else

In [ ]:
password_benar = "python123"
percobaan = 0
max_Percobaan = 3

while percobaan < max_Percobaan:
  password = input("Masukan password: ")
  percobaan += 1

  if password == password_benar:
      print("Login berhasil!")
      break
  else:
      print("Password salah. Sisa percobaan:", max_Percobaan - percobaan)
else:
  print("Terlalu banyak percobaan, akses di tolak")

Masukan password: 123
Password salah. Sisa percobaan: 2
Masukan password: 22
Password salah. Sisa percobaan: 1
Masukan password: 321
Password salah. Sisa percobaan: 0
Terlalu banyak percobaan, akses di tolak

#### Perulangan Bersarang (Nested Loop)

In [ ]:
# Tabel perkalian lengkap
print("Tabel Perkalian 1-5: ")
for i in range(1,6):
    for j in range(1,6):
        hasil = i * j
        print(i, "x", j , "=", hasil)
    print("---------")

Tabel Perkalian 1-5:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
---------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
---------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
---------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
---------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
---------

### Struktur Data

- Struktur data adalah cara untuk menyimpan dan mengorganisir data dalam program
- Sejauh ini kita usdah belajar menyimpan satu nilai dalam satu variabel
- Sekarang kita akan belajar cara menyimpan banyak nilai sekaligus

#### List

- List adalah kumpuland ata yang bisa menyimpan banyak nilai dalam satu variabel lis di tulis dengan kurung siku []

In [9]:
# List kosong
daftar_kosong = []

# List dengan angka
angka = [1, 2, 3, 4, 5]
print(angka)

# List dengan string
nama = ["hotman", " rukia", "carli"]
print(nama)

# List campuran
campuran = [" hotmat", 23, "rukia", 25]
print(campuran)

print("\n")

# Memanggil list
buah = ["mangga", "jeruk", "strawberry"]
print(buah[2])
print(buah[0])

print("\n")

# Mengganti salah satu index
print("- Mengganti salah satu index-")
print("before")
sayuran = ["kangkung", "terong", "wortol", "bayam"]
print(sayuran)
print("after")
sayuran[3] = "jagung" #mengganti bayam
print(sayuran)

print("\n")

#Menambah index diakhir
print("-Menambah index/list diakhir-")

print("Before")
buah = ["apel", "tomat"]
print(buah)

print("after")
buah.append("semangka")
print(buah)

print("\n")

#Menambah index dimanapun
print("-Menambah index dimanapun-")

buah.insert(1, "buah naga") #menambah ke index 1
print(buah)

[print("\n")]

# Menghapus datanya
print("-Menghapus data-")
buah.remove("tomat")
print(buah)

# Menghapus berdasarkan index
print("Menghapus berdasarkan index")
del buah[0]
print(buah)
print("\n")

# Menggabungkan 2 list
print("Menggabungkan dua list")

satu = [1,2,3,4,5]
print(satu)
dua = [6,7,8,9,10]
print(dua)

gabungan = satu + dua
print(gabungan)

# Perulangan list
#contoh satu
print("perulangan list")
banyak_buah = ["apel", "jeruk", "mangga", "durian"]
for buah in banyak_buah:
  print(buah)
# Contoh dua
for i in range(len(banyak_buah)):
    print(banyak_buah[i])

[1, 2, 3, 4, 5]
['hotman', ' rukia', 'carli']
[' hotmat', 23, 'rukia', 25]


strawberry
mangga


- Mengganti salah satu index-
before
['kangkung', 'terong', 'wortol', 'bayam']
after
['kangkung', 'terong', 'wortol', 'jagung']


-Menambah index/list diakhir-
Before
['apel', 'tomat']
after
['apel', 'tomat', 'semangka']


-Menambah index dimanapun-
['apel', 'buah naga', 'tomat', 'semangka']


-Menghapus data-
['apel', 'buah naga', 'semangka']
Menghapus berdasarkan index
['buah naga', 'semangka']


Menggabungkan dua list
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
perulangan list
apel
jeruk
mangga
durian
apel
jeruk
mangga
durian

###Tuple

- tuple saya sama dengan list tetapi ***tidak bisa di ubah data datanya***

In [12]:
point = (5,10)
print(point)
print(point[1])

tanggal_lahir = (10, 8, 2002)
print(tanggal_lahir)

(5, 10)
10
(10, 8, 2002)

#### Dictionary (kamus)

In [ ]:
- Dictionary menyimpan data dalam pasangan key-value(kunci-nilai). Dictionary ditulis dengan kurung kurawa [].
- Untuk membuat data dictionary, kita perlu menentukan key dan juga valuenya

In [19]:
# Dictionari dengan data
siswa = {
    "nama" : "Hamka",
    "umur" : "21",
    "kelas" : "3C"
}

print(siswa)

print(siswa["nama"]) # Hamka
print(siswa["umur"]) # 20
print(siswa["kelas"]) # 2c

# Merubah data
siswa["Kelas"] = "12B"

#Menghapus
del siswa["umur"]
print(siswa)

#iterasi
for key in siswa:
  print(key, siswa[key])

for key, value in siswa.items():
    print(key, value)

{'nama': 'Hamka', 'umur': '21', 'kelas': '3C'}
Hamka
21
3C
{'nama': 'Hamka', 'kelas': '3C', 'Kelas': '12B'}
nama Hamka
kelas 3C
Kelas 12B
nama Hamka
kelas 3C
Kelas 12B

###Set (Himpunan)

- set kumpulan data yang tidak berurutan dan tidak memiliki elemen duplikat
- Set ditulis dengan kurung kurawal {}atau fungsi set()
- Untuk menambah data ke set, kita bisagunakan methid add(value)

In [3]:
#tidak berurutan di outputnya
buah = {"anggur", "Semangka", "pisang"}
print(buah)

#Menambah
buah.add("mangga")
print(buah)

for x in buah:
  print(x)

{'Semangka', 'anggur', 'pisang'}
{'Semangka', 'mangga', 'anggur', 'pisang'}
Semangka
mangga
anggur
pisang

###Function

- Function dibuah menggunakan kata kuci ***def***
- tambahkan : (titik dua) setelah ()

####function

In [5]:
#Membuat fungsi
def nama_function():
      print("hallo saya function")

nama_function()

hallo saya function

####function dengan parameter

In [ ]:
- Parameter memungkikan kita mengirim data ke function
- Caranya kita bisa tambahkan nama parameter diantara kurung buka dan kurung tutup di function
- jika kita ingin menambahkan lebih dari satu parameter, kita bisa gunakan karakter koma sebagai pemisah parameter tersebut
- Saat memanggil functionnya, maka kita wajib mengisi data pada parameter functionnya

In [8]:
#parameter = nama
#seperti variabel

def sapa_nama(nama):
  print("Hello", nama)
  print("Senang bertemu dengan anda")

sapa_nama("Hamka")
sapa_nama("jons")

def hitung_luas_persegi_panjang(panjang, lebar):
  luas = panjang * lebar
  print("Luas persegi panjang", luas)

hitung_luas_persegi_panjang(10,5)
hitung_luas_persegi_panjang(4,2)

Hello Hamka
Senang bertemu dengan anda
Hello jons
Senang bertemu dengan anda
Luas persegi panjang 50
Luas persegi panjang 8

#### Function dengan Return Value