<a href="https://colab.research.google.com/github/zulfanHamka/Belajar-python/blob/main/belajarpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hallo Python")

hallo Python

In [1]:
print("Hallo Hamka keren ")

Hallo Hamka keren

####Balajar Variabel

In [2]:
nama = "Hamka"
umur = 22
tinggi = 170.5

print("nama:" ,nama)
print("Umur:", umur)
print("Tinggi:",tinggi)


print(nama , umur, tinggi)

print(type(tinggi))

nama: Hamka
Umur: 22
Tinggi: 170.5
Hamka 22 170.5
<class 'float'>

In [ ]:
puisi = """
ini adalah
puisi lebih dari
satu baris

"""

student = True
married = False


print(puisi)
print(type(student))

ini adalah
puisi lebih dari
satu baris


<class 'bool'>

In [ ]:
nama = "hamka"
print(nama)

nama = "ridwan"
print(nama)


print(puisi)

hamka
ridwan

ini adalah
puisi lebih dari
satu baris

####Input

In [ ]:
nama = input("Masukan nama anda:")
umur = input("Masukan umur anda:")
print("")

print("Hallo", nama)
print("umur anda:" ,umur)

Masukan nama anda:Hamka
Masukan umur anda:24

Hallo Hamka
umur anda: 24

##String dan Manifulasi String

In [18]:
nama = "hamka"
umur = 22

#cara salah, type data tidak sama semua
#pesan = "nama saya" + nama + "umur saya" + umur

#cara benar, type data disamakan dulu
pesan = "nama saya " + nama + ", umur saya " + str(umur)
print(pesan)

nama saya hamka, umur saya 22

###len() penggunakan penghitung karakter

In [19]:
#gaya penulisan 1
panjang_nama = len(nama)
panjang_pesan = len(pesan)

print(panjang_nama)
print(panjang_pesan)

#gaya penulisan ke 2

#print(len(nama))
#print(len(pesan))


#hasil 5 dan 29
#karena panjangan karakternya ada 5 = hamka dan 29 = nama saya hamka, umur saya 22
#dihitung dengan spacenya

5
29

String Indexing/mengambil karakter

In [22]:
nama = "python"

#Gaya pengambilan dari kiri ke kanan
print(nama[0])
print(nama[2])

#Gaya pengambilan dari kanan ke kiri
print(nama[-1])
print(nama[-3])

p
t
n
h

###String sciling/Mengambil sebagian karakter

In [29]:
nama = "python"

#Gaya dari kiri ke kanan
print(nama[0:3])
print(nama[:]) #mengambil seluruh

pyt
python

###String Methods (fungsi string)

fungsi string memiliki method(fungsi yang menempel pada type data) ada banyak sekali fungsi method yang bisa di gunakan, seperti

*   upper()
*   lower()
*   title()
*   find() dst

In [32]:
#contoh
name = "Hamka"

#penggunakan upper
name_upper = nama.upper()
print(name_upper)

#penggunakan lower
name_lower = name.lower()
print(name_lower)

PYTHON
hamka