<a href="https://colab.research.google.com/github/zulfanHamka/Belajar-python/blob/main/belajarpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hallo Python")

hallo Python

In [ ]:
print("Hallo Hamka Ganteng ")

Hallo Hamka Ganteng

####Balajar Variabel

In [ ]:
nama = "Hamka"
umur = 24
tinggi = 165.5

print("nama:" ,nama)
print("Umur:", umur)
print("Tinggi:",tinggi)


print(nama , umur, tinggi)

print(type(tinggi))

nama: Hamka
Umur: 24
Tinggi: 165.5
Hamka 24 165.5
<class 'float'>

In [ ]:
puisi = """
ini adalah
puisi lebih dari
satu baris

"""

student = True
married = False


print(puisi)
print(type(student))

ini adalah
puisi lebih dari
satu baris


<class 'bool'>

In [ ]:
nama = "hamka"
print(nama)

nama = "ridwan"
print(nama)


print(puisi)

hamka
ridwan

ini adalah
puisi lebih dari
satu baris

####Input

In [ ]:
nama = input("Masukan nama anda:")
umur = input("Masukan umur anda:")
print("")

print("Hallo", nama)
print("umur anda:" ,umur)

Masukan nama anda:Hamka
Masukan umur anda:24

Hallo Hamka
umur anda: 24