<a href="https://colab.research.google.com/github/zulfanHamka/Belajar-python/blob/main/belajarpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hallo Python")

hallo Python

In [ ]:
print("Hallo Hamka keren ")

Hallo Hamka keren

####Balajar Variabel

In [ ]:
nama = "Hamka"
umur = 22
tinggi = 170.5

print("nama:" ,nama)
print("Umur:", umur)
print("Tinggi:",tinggi)


print(nama , umur, tinggi)

print(type(tinggi))

nama: Hamka
Umur: 22
Tinggi: 170.5
Hamka 22 170.5
<class 'float'>

In [ ]:
puisi = """
ini adalah
puisi lebih dari
satu baris

"""

student = True
married = False


print(puisi)
print(type(student))

ini adalah
puisi lebih dari
satu baris


<class 'bool'>

In [ ]:
nama = "hamka"
print(nama)

nama = "ridwan"
print(nama)


print(puisi)

hamka
ridwan

ini adalah
puisi lebih dari
satu baris

####Input

In [ ]:
nama = input("Masukan nama anda:")
umur = input("Masukan umur anda:")
print("")

print("Hallo", nama)
print("umur anda:" ,umur)

Masukan nama anda:Hamka
Masukan umur anda:24

Hallo Hamka
umur anda: 24

##String dan Manifulasi String

In [ ]:
nama = "hamka"
umur = 22

#cara salah, type data tidak sama semua
#pesan = "nama saya" + nama + "umur saya" + umur

#cara benar, type data disamakan dulu
pesan = "nama saya " + nama + ", umur saya " + str(umur)
print(pesan)

nama saya hamka, umur saya 22

###len() penggunakan penghitung karakter

In [ ]:
#gaya penulisan 1
panjang_nama = len(nama)
panjang_pesan = len(pesan)

print(panjang_nama)
print(panjang_pesan)

#gaya penulisan ke 2

#print(len(nama))
#print(len(pesan))


#hasil 5 dan 29
#karena panjangan karakternya ada 5 = hamka dan 29 = nama saya hamka, umur saya 22
#dihitung dengan spacenya

5
29

String Indexing/mengambil karakter

In [ ]:
nama = "python"

#Gaya pengambilan dari kiri ke kanan
print(nama[0])
print(nama[2])

#Gaya pengambilan dari kanan ke kiri
print(nama[-1])
print(nama[-3])

p
t
n
h

###String sciling/Mengambil sebagian karakter

In [ ]:
nama = "python"

#Gaya dari kiri ke kanan
print(nama[0:3])
print(nama[:]) #mengambil seluruh

pyt
python

###String Methods (fungsi string)

fungsi string memiliki method(fungsi yang menempel pada type data) ada banyak sekali fungsi method yang bisa di gunakan, seperti

*   upper()
*   lower()
*   title()
*   find() dst

In [ ]:
#contoh
name = "Hamka"

#penggunakan upper
name_upper = nama.upper()
print(name_upper)

#penggunakan lower
name_lower = name.lower()
print(name_lower)

PYTHON
hamka

###Escape Karakter

*   \n (new line)
*   \t (tab)
* \ (backslash)
* " dan ' (kutip dalam string), perlu menambahkan slash di awal

In [ ]:
#contoh

#new line
kalimat = "Baris pertama\nBaris kedua"
print(kalimat)

print("\n")

#tab
kalimat = "Nama:\t Hamka\numur:\t 22"
print(kalimat)

print('\n')

#slash
lokasi = "c:\\User\\hamka\\destop"# Jumlah slash tergantung kebutuhan
print(lokasi)

print("\n")

#penggunakan kutip 2 "" di tengah kalimat
kalimat = "Dia berkata \"Hallo\"  kepada saya"
print(kalimat)

Baris pertama
Baris kedua


Nama:	 Hamka
umur:	 22


c:\User\hamka\destop


Dia berkata "Hallo"  kepada saya

###String Interpolation (f-string)

adalah cara menggabungkan string yang lebih modern kaya "+"

In [ ]:

nama = "hamka"
umur = 22
kota = "jakarta"

#penggunaan interpolation
kalimat = f"nama saya {nama}, umur saya{umur} dan tinggal di {kota}" #lebih simple
print(kalimat)

print("\n")

#menggunakan "+" plus
kalimat_lama = "nama saya, " + nama + " umur saya" + str(umur) + "dan tinggal di " + kota
print(kalimat_lama)

nama saya hamka, umur saya22 dan tinggal di jakarta


nama saya, hamka umur saya22dan tinggal di jakarta

### f-string dengan Expressions

In [ ]:
 harga = 10000
 jumlah = 3

#operasi matematika dalam string
 total = f"Total: Rp {harga * jumlah:,}"
 print(total)

 print("\n")

#method call dalam f-string
nama = "lukman prasetio"
kalimat = f"Hallo {nama.upper()}"
print(kalimat)


print("\n")

kalimat = f"Hallo {nama.lower()}"
print(kalimat)

Total: Rp 30,000


Hallo LUKMAN PRASETIO


Hallo lukman prasetio

#Operator

###Operator aritmatika

In [ ]:

a = 10
b = 3

#plus
print(a+b)

#minus
print(a-b)

#time
print(a*b)

#division
print(a/3)

#Pembagian bulat
print(a//b)

#modulo
print(a%b)

#pangkat
print(a**b)

13
7
30
3.3333333333333335
3
1
1000

###Operator assignment (penugasan)

####Operator assignment

In [ ]:
#Operator assignment diberikan untuk memberikan nilai variabel, sama dengan (=)
#contoh

x = 10

print("x awal:", x)

x awal: 10

####Compound assignment

In [20]:
#Compound assignment yaitu yang menggabungkan operasi aritmatika menjadi assignment

x = 10

x += 5 #sama dengan x = x + 5
print("x setelah += 5:", x)

y = 10

y /= 2 #sama dengan y = y / 2
print("x setelah /= 2:", y)

x setelah += 5: 15
x setelah /= 2: 5.0

####Operator pebandingan

In [27]:
#contoh int
a = 10
b = 3

print(a < b)
print(a > b)
print(a == b)
print(a <= b)
print(a >= b)
print(a != b)

print("\n")

#contoh string
nama1 = "hamka"
nama2 = "wawan"
nama3 = "hamka"

print(nama1 == nama3)
print(nama1 == nama2)
print(nama1 != nama2)

False
True
False
False
True
True


True
False
True

####Oprator logika

- adalah operator logika yang digunakan untuk mmenggabungkan atau memodifikasi nilai boolean
- and (dan), menghasilakan true. jika kondisi kedua benar
- or (atau), menghasilkan True. jika kondisi salah satu benar
not (tidak), membalikan nilai boolean

In [32]:
#and
umur = 25
print(umur > 20 and umur < 27)

#or
hari = "sabtu"
print(hari == "sabtu" or hari != "minggu")

#not
aktif = True
print(not aktif)

True
True
False

####Operator String

- Operator khusu untuk bekarja dengan string
- concatenation (+), manambah string
- Repetition(*), mengulang string sejumlah angka
- Membership(in), mengecek apakah text ada dalam string

In [50]:
#concatenation
nama_depan = "johan"
nama_belakang = "permana"
nama_lengkap = nama_depan + " " + nama_belakang

print(nama_lengkap)

print("\n")

#Repetition
kata ="Hallo"
print(kata *3)

garis = "-"
print(garis*15)

print("\n")

#Membership
kalimat = " apakah python adalah bahasa pemrograman"

print("python" in kalimat) #true
print("hamka" in kalimat)  #false
print("bahasa" in kalimat) #true

johan permana


HalloHalloHallo
---------------


True
False
True

####Prioritas Operator

- Operator memiliki urutan prioritas. Operator dengan prioritas lebih tinggi akan dieksekusi terlebih dahulu
- Urutan Prioritas dari tinggi ke rendah

- ** (Pangkat)
- *,/,//,% (perkalian, pembagian, dll)
- ==, !=, <, >, <=, >= (perbandingan, dll)
- not (logika not)
- and (logika and)
- or (logika)

#Perbandingan

####Perbandingan IF, IF ELSE dan ELIF

In [66]:

#setelah if/else harus ada : (titik dua)

#if
#satu kondisi
nilai = int(input("masukan nilai: "))
if nilai > 75:
    print(f" Anda lulus dengan nilai: {nilai} ")

#if dan else
#dua kondisi
if nilai > 75:
    print(f"nilai {nilai} lebih dari KKM")
else:
    print(f"Nilai {nilai} kurang dari KKM")

#elif
#beberapa kondisi
nilai = int(input("Masukan nilai:"))

if nilai >= 85:
    print("nilai anda A")
elif nilai >= 75:
    print("nilai anda B")
elif nilai >= 65:
    print("nilai anda C")
else:
    print("nilai anda D")

Masukan nilai:30
nilai anda D

###Kondisi dengan Operator logika